* {
    margin: 0;
    padding: 0;
}
body {
    /* display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-family: consolas;
}
#container {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
button#btn {
    margin: 10px 0;
}
span#hex {
    cursor: pointer;
}
#toast {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 12px;
    margin: 20px 0;
    padding: 10px 5px;
    background: #fff;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.20);
    box-sizing: border-box;
    opacity: 0;
}
#toast.showToast {
    opacity: 1;
    transition: 0.5s;
}
#toast.showToast::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 0px;
    background: rgb(109, 99, 255);
    z-index: 10;
    transition: 5s;
    animation: anim 1.3s ease-in;
    visibility: hidden;
}

@keyframes anim {
    0% {
        width: 100%;
        visibility: visible;
    }
    99% {
        width: 0%;
    }
    100% {
        visibility: hidden;
    }
}